@font-face {
  font-family: "Friz Quadrata Regular";
  src: url(../fonts/font_lol/Friz\ Quadrata\ Regular.ttf);
}

@font-face {
  font-family: "Open sans";
  src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}
