body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100vh;
  background: rgb(61, 61, 61);
  animation: scroll 200s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

main {
  background-color: rgb(37, 37, 37);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(148, 68, 117);
  padding: 1em;
  margin: 1em;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
}

h1 {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  color: rgb(148, 68, 117);
  margin-bottom: 2em;
  margin: 1 0 0.25em;
  font-family: "Friz Quadrata Regular";
  background: linear-gradient(
    to right,
    rgb(184, 186, 255) 20%,
    rgb(148, 68, 117) 60%,
    rgb(184, 186, 255) 95%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: degradacion 6s linear infinite;
  text-shadow: 0 5px 25px rgba(0, 0, 0, 1);
}

img {
  float: left;
  border: solid rgb(148, 68, 117);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
}

img:hover {
  animation: aumento1 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

div {
  font-size: 20px;
  margin: 20px;
  padding: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
}

p {
  margin-left: 4em;
  font-family: "Open Sans";
  color: rgb(184, 186, 255);
}

.div {
  display: flex;
  border: solid rgb(148, 68, 117);
  background-color: rgb(29, 29, 29);
  animation: aumento3 0.6s cubic-bezier(1, 0.565, 0.575, 0.39) both;
}

.div:hover,
.div:hover img,
.div:hover video {
  border: double rgb(184, 186, 255);
}

.div:hover {
  background-color: rgb(39, 39, 39);
  animation: aumento2 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.nombre {
  font-weight: bold;
  color: rgb(184, 186, 255);
  font-size: 25px;
  text-shadow: 0 5px 25px rgba(0, 0, 0, 1);
  font-family: "Friz Quadrata Regular";
}

video {
  margin-left: 2em;
  border: solid rgb(148, 68, 117);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
}

#enlaces-inicio {
  box-shadow: none;
}

#enlaces-inicio img {
  border: none;
  box-shadow: none;
  margin-right: 2em;
}

#enlaces-inicio a {
  margin-right: 2em;
}

#enlaces-inicio img:hover {
  filter: brightness(2);
  animation: none;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: rgb(37, 37, 37);
}

body::-webkit-scrollbar-thumb {
  background: rgb(148, 68, 117);
}

@keyframes degradacion {
  to {
    background-position: 200% center;
  }
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@keyframes aumento1 {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
}

@keyframes aumento2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

@keyframes aumento3 {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
